*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

:root {
  font-size: 62.5%;

  /* color variables */
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-neutral-very-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-grayish-blue: hsl(229, 6%, 66%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
}

body {
  background-color: white;
  color: var(--color-neutral-very-dark-blue);

  /* default font styles */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

div.container {
  max-width: 1440px;
  min-width: 375px;
  margin: 8.5rem auto 4rem;
  padding: 0 3.2rem;

  header {
    width: 311px;
    margin-bottom: 6rem;

    h1 {
      font-size: 2.4rem;
      text-align: center;

      span.line-1 {
        font-weight: 200;
      }

      span.line-2 {
        font-weight: 600;
      }
    }

    p {
      margin-top: 1em;
      font-size: 1.5rem;
      line-height: 1.67;
      text-align: center;
      opacity: 0.5;
    }
  }

  main.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;

    section.card {
      position: relative;
      width: 311px;
      height: 222px;
      margin-bottom: 0.5em;
      padding: 2.9rem;
      border-radius: 6px;
      border-top-width: 4px;
      border-top-style: solid;
      box-shadow: 0 8px 8px 2px hsla(234, 12%, 34%, 0.1);

      h2 {
        font-size: 2rem;
        font-weight: 600;
      }

      p {
        margin-top: 0.25em;
        font-size: 1.3rem;
        line-height: 1.7;
        letter-spacing: 0.1px;
        opacity: 0.5;
      }

      img {
        width: 57px;
        height: 57px;
        align-self: flex-end;
        position: absolute;
        bottom: 2.5rem;
        right: 2.9rem;
      }
    }

    section#card-1 {
      border-top-color: var(--color-primary-cyan);
    }

    section#card-2 {
      border-top-color: var(--color-primary-red);
    }

    section#card-3 {
      border-top-color: var(--color-primary-orange);
    }

    section#card-4 {
      border-top-color: var(--color-primary-blue);
    }
  }
}

footer {
  margin-bottom: 1em;

  p.attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
